In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import math
import seaborn as sns
%matplotlib inline

In [2]:
df = pd.read_csv('nhl_stats.csv', index_col=0)
df.head()

,team,date,points,RW,ROW,SOW,goals,goals_against,power_play,penalty_kill,net_ppp,net_pkp,shots,shots_against,FOWp
0,New Jersey Devils,2005/10/05vs PIT,2,1,1,0,5,1,25.0,90.9,25.0,90.9,37.0,37.0,57.1
1,New York Islanders,2005/10/05@ BUF,0,0,0,0,4,6,14.3,81.8,14.3,81.8,26.0,39.0,51.5
2,New York Rangers,2005/10/05@ PHI,2,1,1,0,5,3,50.0,90.0,50.0,90.0,27.0,27.0,51.6
3,Philadelphia Flyers,2005/10/05vs NYR,0,0,0,0,3,5,10.0,50.0,10.0,50.0,27.0,27.0,48.4
4,Pittsburgh Penguins,2005/10/05@ NJD,0,0,0,0,1,5,9.1,75.0,9.1,75.0,37.0,37.0,42.9

In [3]:
df.dtypes

team              object
date              object
points             int64
RW                 int64
ROW                int64
SOW                int64
goals              int64
goals_against      int64
power_play        object
penalty_kill      object
net_ppp           object
net_pkp           object
shots            float64
shots_against    float64
FOWp             float64
dtype: object

In [4]:
df=df.dropna()

In [5]:
df.tail()

,team,date,points,RW,ROW,SOW,goals,goals_against,power_play,penalty_kill,net_ppp,net_pkp,shots,shots_against,FOWp
40129,Arizona Coyotes,2022/04/29vs NSH,2,1,1,0,5,4,0.0,100.0,0.0,100.0,27.0,33.0,50.8
40130,Vegas Golden Knights,2022/04/29@ STL,2,1,1,0,7,4,50.0,33.3,50.0,33.3,45.0,18.0,53.7
40131,Seattle Kraken,2022/04/29vs SJS,2,1,1,0,3,0,0.0,100.0,0.0,100.0,31.0,24.0,58.3
40132,Winnipeg Jets,2022/05/01vs SEA,2,1,1,0,4,3,0.0,0.0,0.0,0.0,27.0,30.0,59.1
40133,Seattle Kraken,2022/05/01@ WPG,0,0,0,0,3,4,100.0,100.0,100.0,100.0,30.0,27.0,40.9

In [6]:
df['opponent'] = df.date.apply(lambda x: x.split()[1])

In [7]:
df['opponent'].unique()

array(['PIT', 'BUF', 'PHI', 'NYR', 'NJD', 'MTL', 'NYI', 'BOS', 'TOR',
       'OTT', 'FLA', 'TBL', 'ATL', 'CAR', 'CBJ', 'ANA', 'STL', 'SJS',
       'DET', 'MIN', 'EDM', 'COL', 'PHX', 'CHI', 'LAK', 'DAL', 'VAN',
       'NSH', 'WSH', 'CGY', 'WPG', 'ARI', 'VGK', 'SEA'], dtype=object)

In [8]:
df['team'].unique()

array(['New Jersey Devils', 'New York Islanders', 'New York Rangers',
       'Philadelphia Flyers', 'Pittsburgh Penguins', 'Boston Bruins',
       'Buffalo Sabres', 'Montréal Canadiens', 'Ottawa Senators',
       'Toronto Maple Leafs', 'Atlanta Thrashers', 'Carolina Hurricanes',
       'Florida Panthers', 'Tampa Bay Lightning', 'Washington Capitals',
       'Chicago Blackhawks', 'Detroit Red Wings', 'Nashville Predators',
       'St. Louis Blues', 'Calgary Flames', 'Colorado Avalanche',
       'Edmonton Oilers', 'Vancouver Canucks', 'Anaheim Ducks',
       'Dallas Stars', 'Los Angeles Kings', 'Phoenix Coyotes',
       'San Jose Sharks', 'Columbus Blue Jackets', 'Minnesota Wild',
       'Winnipeg Jets', 'Arizona Coyotes', 'Vegas Golden Knights',
       'Seattle Kraken'], dtype=object)

In [9]:
abb_to_team = {'PIT':'Pittsburgh Penguins', 'PHI':'Philadelphia Flyers',
'TOR':'Toronto Maple Leafs', 'MTL':'Montréal Canadiens', 'MIN':'Minnesota Wild',
'COL':'Colorado Avalanche', 'EDM':'Edmonton Oilers', 'CHI':'Chicago Blackhawks',
'CGY':'Calgary Flames', 'CAR':'Carolina Hurricanes', 'DAL':'Dallas Stars',
'OTT':'Ottawa Senators', 'BUF':'Buffalo Sabres', 'WSH':'Washington Capitals',
'ATL':'Atlanta Thrashers', 'ANA':'Anaheim Ducks', 'DET':'Detroit Red Wings',
'NJD':'New Jersey Devils','CBJ':'Columbus Blue Jackets', 'SJS':'San Jose Sharks',
'STL':'St. Louis Blues', 'PHX':'Phoenix Coyotes', 'NYR':'New York Rangers',
'TBL':'Tampa Bay Lightning', 'LAK':'Los Angeles Kings', 'NSH':'Nashville Predators',
'NYI':'New York Islanders', 'VAN':'Vancouver Canucks', 'BOS':'Boston Bruins',
'FLA':'Florida Panthers', 'WPG':'Winnipeg Jets', 'ARI':'Arizona Coyotes',
'VGK':'Vegas Golden Knights', 'SEA':'Seattle Kraken'}

In [10]:
df['identifier'] = df['date'].apply(lambda x: x.split()[0][10:])
df['date'] = df['date'].apply(lambda x: pd.to_datetime(x[0:10], format='%Y/%m/%d'))
df['opponent'] = df['opponent'].apply(lambda x: abb_to_team[x])
df.head()

,team,date,points,RW,ROW,SOW,goals,goals_against,power_play,penalty_kill,net_ppp,net_pkp,shots,shots_against,FOWp,opponent,identifier
0,New Jersey Devils,2005-10-05,2,1,1,0,5,1,25.0,90.9,25.0,90.9,37.0,37.0,57.1,Pittsburgh Penguins,vs
1,New York Islanders,2005-10-05,0,0,0,0,4,6,14.3,81.8,14.3,81.8,26.0,39.0,51.5,Buffalo Sabres,@
2,New York Rangers,2005-10-05,2,1,1,0,5,3,50.0,90.0,50.0,90.0,27.0,27.0,51.6,Philadelphia Flyers,@
3,Philadelphia Flyers,2005-10-05,0,0,0,0,3,5,10.0,50.0,10.0,50.0,27.0,27.0,48.4,New York Rangers,vs
4,Pittsburgh Penguins,2005-10-05,0,0,0,0,1,5,9.1,75.0,9.1,75.0,37.0,37.0,42.9,New Jersey Devils,@

In [11]:
df = df.astype({'RW':int, 'ROW':int, 'SOW':int})
df.head()

,team,date,points,RW,ROW,SOW,goals,goals_against,power_play,penalty_kill,net_ppp,net_pkp,shots,shots_against,FOWp,opponent,identifier
0,New Jersey Devils,2005-10-05,2,1,1,0,5,1,25.0,90.9,25.0,90.9,37.0,37.0,57.1,Pittsburgh Penguins,vs
1,New York Islanders,2005-10-05,0,0,0,0,4,6,14.3,81.8,14.3,81.8,26.0,39.0,51.5,Buffalo Sabres,@
2,New York Rangers,2005-10-05,2,1,1,0,5,3,50.0,90.0,50.0,90.0,27.0,27.0,51.6,Philadelphia Flyers,@
3,Philadelphia Flyers,2005-10-05,0,0,0,0,3,5,10.0,50.0,10.0,50.0,27.0,27.0,48.4,New York Rangers,vs
4,Pittsburgh Penguins,2005-10-05,0,0,0,0,1,5,9.1,75.0,9.1,75.0,37.0,37.0,42.9,New Jersey Devils,@

In [12]:
df.drop(columns=['RW', 'ROW', 'SOW', 'net_ppp', 'net_pkp'], inplace=True)
df.head()

,team,date,points,goals,goals_against,power_play,penalty_kill,shots,shots_against,FOWp,opponent,identifier
0,New Jersey Devils,2005-10-05,2,5,1,25.0,90.9,37.0,37.0,57.1,Pittsburgh Penguins,vs
1,New York Islanders,2005-10-05,0,4,6,14.3,81.8,26.0,39.0,51.5,Buffalo Sabres,@
2,New York Rangers,2005-10-05,2,5,3,50.0,90.0,27.0,27.0,51.6,Philadelphia Flyers,@
3,Philadelphia Flyers,2005-10-05,0,3,5,10.0,50.0,27.0,27.0,48.4,New York Rangers,vs
4,Pittsburgh Penguins,2005-10-05,0,1,5,9.1,75.0,37.0,37.0,42.9,New Jersey Devils,@

In [13]:
df_home = df[df['identifier'] == 'vs']
df_home.drop(columns=['identifier'], inplace=True)
df_home.head()

c:\Users\cbarg\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,team,date,points,goals,goals_against,power_play,penalty_kill,shots,shots_against,FOWp,opponent
0,New Jersey Devils,2005-10-05,2,5,1,25.0,90.9,37.0,37.0,57.1,Pittsburgh Penguins
3,Philadelphia Flyers,2005-10-05,0,3,5,10.0,50.0,27.0,27.0,48.4,New York Rangers
5,Boston Bruins,2005-10-05,0,1,2,0.0,80.0,30.0,21.0,56.5,Montréal Canadiens
6,Buffalo Sabres,2005-10-05,2,6,4,18.2,85.7,39.0,26.0,48.5,New York Islanders
9,Toronto Maple Leafs,2005-10-05,1,2,2,9.1,100.0,25.0,23.0,47.5,Ottawa Senators

In [14]:
df_away = df[df['identifier'] == '@']
df_away.drop(columns=['identifier'], inplace=True)
df_away.head()

c:\Users\cbarg\anaconda3\lib\site-packages\pandas\core\frame.py:4308: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

,team,date,points,goals,goals_against,power_play,penalty_kill,shots,shots_against,FOWp,opponent
1,New York Islanders,2005-10-05,0,4,6,14.3,81.8,26.0,39.0,51.5,Buffalo Sabres
2,New York Rangers,2005-10-05,2,5,3,50.0,90.0,27.0,27.0,51.6,Philadelphia Flyers
4,Pittsburgh Penguins,2005-10-05,0,1,5,9.1,75.0,37.0,37.0,42.9,New Jersey Devils
7,Montréal Canadiens,2005-10-05,2,2,1,20.0,100.0,21.0,30.0,43.6,Boston Bruins
8,Ottawa Senators,2005-10-05,2,2,2,0.0,90.9,23.0,25.0,52.5,Toronto Maple Leafs

In [15]:
merged_df = pd.merge(df_home, df_away, how='left', left_on=['date', 'opponent'], right_on=['date', 'team'])
merged_df.head()

,team_x,date,points_x,goals_x,goals_against_x,power_play_x,penalty_kill_x,shots_x,shots_against_x,FOWp_x,...,team_y,points_y,goals_y,goals_against_y,power_play_y,penalty_kill_y,shots_y,shots_against_y,FOWp_y,opponent_y
0,New Jersey Devils,2005-10-05,2,5,1,25.0,90.9,37.0,37.0,57.1,...,Pittsburgh Penguins,0,1,5,9.1,75.0,37.0,37.0,42.9,New Jersey Devils
1,Philadelphia Flyers,2005-10-05,0,3,5,10.0,50.0,27.0,27.0,48.4,...,New York Rangers,2,5,3,50.0,90.0,27.0,27.0,51.6,Philadelphia Flyers
2,Boston Bruins,2005-10-05,0,1,2,0.0,80.0,30.0,21.0,56.5,...,Montréal Canadiens,2,2,1,20.0,100.0,21.0,30.0,43.6,Boston Bruins
3,Buffalo Sabres,2005-10-05,2,6,4,18.2,85.7,39.0,26.0,48.5,...,New York Islanders,0,4,6,14.3,81.8,26.0,39.0,51.5,Buffalo Sabres
4,Toronto Maple Leafs,2005-10-05,1,2,2,9.1,100.0,25.0,23.0,47.5,...,Ottawa Senators,2,2,2,0.0,90.9,23.0,25.0,52.5,Toronto Maple Leafs

In [16]:
merged_df.drop(columns=['opponent_x', 'opponent_y'], inplace=True)

In [17]:
merged_df.head()

,team_x,date,points_x,goals_x,goals_against_x,power_play_x,penalty_kill_x,shots_x,shots_against_x,FOWp_x,team_y,points_y,goals_y,goals_against_y,power_play_y,penalty_kill_y,shots_y,shots_against_y,FOWp_y
0,New Jersey Devils,2005-10-05,2,5,1,25.0,90.9,37.0,37.0,57.1,Pittsburgh Penguins,0,1,5,9.1,75.0,37.0,37.0,42.9
1,Philadelphia Flyers,2005-10-05,0,3,5,10.0,50.0,27.0,27.0,48.4,New York Rangers,2,5,3,50.0,90.0,27.0,27.0,51.6
2,Boston Bruins,2005-10-05,0,1,2,0.0,80.0,30.0,21.0,56.5,Montréal Canadiens,2,2,1,20.0,100.0,21.0,30.0,43.6
3,Buffalo Sabres,2005-10-05,2,6,4,18.2,85.7,39.0,26.0,48.5,New York Islanders,0,4,6,14.3,81.8,26.0,39.0,51.5
4,Toronto Maple Leafs,2005-10-05,1,2,2,9.1,100.0,25.0,23.0,47.5,Ottawa Senators,2,2,2,0.0,90.9,23.0,25.0,52.5

How to calculate rolling stats with a window of 5 shown here.

In [38]:
abb_to_team = {'PIT':'Pittsburgh Penguins', 'PHI':'Philadelphia Flyers',
'TOR':'Toronto Maple Leafs', 'MTL':'Montréal Canadiens', 'MIN':'Minnesota Wild',
'COL':'Colorado Avalanche', 'EDM':'Edmonton Oilers', 'CHI':'Chicago Blackhawks',
'CGY':'Calgary Flames', 'CAR':'Carolina Hurricanes', 'DAL':'Dallas Stars',
'OTT':'Ottawa Senators', 'BUF':'Buffalo Sabres', 'WSH':'Washington Capitals',
'ATL':'Atlanta Thrashers', 'ANA':'Anaheim Ducks', 'DET':'Detroit Red Wings',
'NJD':'New Jersey Devils','CBJ':'Columbus Blue Jackets', 'SJS':'San Jose Sharks',
'STL':'St. Louis Blues', 'PHX':'Phoenix Coyotes', 'NYR':'New York Rangers',
'TBL':'Tampa Bay Lightning', 'LAK':'Los Angeles Kings', 'NSH':'Nashville Predators',
'NYI':'New York Islanders', 'VAN':'Vancouver Canucks', 'BOS':'Boston Bruins',
'FLA':'Florida Panthers', 'WPG':'Winnipeg Jets', 'ARI':'Arizona Coyotes',
'VGK':'Vegas Golden Knights', 'SEA':'Seattle Kraken'}

df_devils = df[df.team == 'New Jersey Devils']
df_devils['rolling_points_5'] = df_devils['points'].rolling(5).mean().shift()
df_devils['rolling_points_10'] = df_devils['points'].rolling(10).mean().shift()
df_devils['rolling_points_20'] = df_devils['points'].rolling(20).mean().shift()
df_devils['rolling_goals_5'] = df_devils['goals'].rolling(5).mean().shift()
df_devils['rolling_goals_10'] = df_devils['goals'].rolling(10).mean().shift()
df_devils['rolling_ga_5'] = df_devils['goals_against'].rolling(5).mean().shift()
df_devils['rolling_ga_10'] = df_devils['goals_against'].rolling(10).mean().shift()
df_devils['rolling_pp_5'] = df_devils['power_play'].rolling(5).mean().shift()
df_devils['rolling_pk_5'] = df_devils['penalty_kill'].rolling(5).mean().shift()
df_devils['rolling_shots_5'] = df_devils['shots'].rolling(5).mean().shift()
df_devils['rolling_sa_5'] = df_devils['shots_against'].rolling(5).mean().shift()
df_devils['rolling_fow_5'] = df_devils['FOWp'].rolling(5).mean().shift()
df_devils.to_csv('.//Team Frames//devils.csv')

df_penguins = df[df.team == 'Pittsburgh Penguins']
df_penguins['rolling_points_5'] = df_penguins['points'].rolling(5).mean().shift()
df_devils['rolling_points_10'] = df_devils['points'].rolling(10).mean().shift()
df_devils['rolling_points_20'] = df_devils['points'].rolling(20).mean().shift()
df_devils['rolling_goals_5'] = df_devils['goals'].rolling(5).mean().shift()
df_devils['rolling_goals_10'] = df_devils['goals'].rolling(10).mean().shift()
df_devils['rolling_ga_5'] = df_devils['goals_against'].rolling(5).mean().shift()
df_devils['rolling_ga_10'] = df_devils['goals_against'].rolling(10).mean().shift()
df_devils['rolling_pp_5'] = df_devils['power_play'].rolling(5).mean().shift()
df_devils['rolling_pk_5'] = df_devils['penalty_kill'].rolling(5).mean().shift()
df_devils['rolling_shots_5'] = df_devils['shots'].rolling(5).mean().shift()
df_devils['rolling_sa_5'] = df_devils['shots_against'].rolling(5).mean().shift()
df_devils['rolling_fow_5'] = df_devils['FOWp'].rolling(5).mean().shift()

df_flyers = df[df.team == 'Philadelphia Flyers']
df_flyers['rolling_points_5'] = df_flyers['points'].rolling(5).mean().shift()
df_flyers['rolling_points_10'] = df_flyers['points'].rolling(10).mean().shift()
df_flyers['rolling_points_20'] = df_flyers['points'].rolling(20).mean().shift()
df_flyers['rolling_goals_5'] = df_flyers['goals'].rolling(5).mean().shift()
df_flyers['rolling_goals_10'] = df_flyers['goals'].rolling(10).mean().shift()
df_flyers['rolling_ga_5'] = df_flyers['goals_against'].rolling(5).mean().shift()
df_flyers['rolling_ga_10'] = df_flyers['goals_against'].rolling(10).mean().shift()
df_flyers['rolling_pp_5'] = df_flyers['power_play'].rolling(5).mean().shift()
df_flyers['rolling_pk_5'] = df_flyers['penalty_kill'].rolling(5).mean().shift()
df_flyers['rolling_shots_5'] = df_flyers['shots'].rolling(5).mean().shift()
df_flyers['rolling_sa_5'] = df_flyers['shots_against'].rolling(5).mean().shift()
df_flyers['rolling_fow_5'] = df_flyers['FOWp'].rolling(5).mean().shift()

df_leafs = df[df.team == 'Toronto Maple Leafs']
df_leafs['rolling_points_5'] = df_leafs['points'].rolling(5).mean().shift()
df_leafs['rolling_points_10'] = df_leafs['points'].rolling(10).mean().shift()
df_leafs['rolling_points_20'] = df_leafs['points'].rolling(20).mean().shift()
df_leafs['rolling_goals_5'] = df_leafs['goals'].rolling(5).mean().shift()
df_leafs['rolling_goals_10'] = df_leafs['goals'].rolling(10).mean().shift()
df_leafs['rolling_ga_5'] = df_leafs['goals_against'].rolling(5).mean().shift()
df_leafs['rolling_ga_10'] = df_leafs['goals_against'].rolling(10).mean().shift()
df_leafs['rolling_pp_5'] = df_leafs['power_play'].rolling(5).mean().shift()
df_leafs['rolling_pk_5'] = df_leafs['penalty_kill'].rolling(5).mean().shift()
df_leafs['rolling_shots_5'] = df_leafs['shots'].rolling(5).mean().shift()
df_leafs['rolling_sa_5'] = df_leafs['shots_against'].rolling(5).mean().shift()
df_leafs['rolling_fow_5'] = df_leafs['FOWp'].rolling(5).mean().shift()

df_canadiens = df[df.team == 'Montréal Canadiens']
df_canadiens['rolling_points_5'] = df_canadiens['points'].rolling(5).mean().shift()
df_canadiens['rolling_points_10'] = df_canadiens['points'].rolling(10).mean().shift()
df_canadiens['rolling_points_20'] = df_canadiens['points'].rolling(20).mean().shift()
df_canadiens['rolling_goals_5'] = df_canadiens['goals'].rolling(5).mean().shift()
df_canadiens['rolling_goals_10'] = df_canadiens['goals'].rolling(10).mean().shift()
df_canadiens['rolling_ga_5'] = df_canadiens['goals_against'].rolling(5).mean().shift()
df_canadiens['rolling_ga_10'] = df_canadiens['goals_against'].rolling(10).mean().shift()
df_canadiens['rolling_pp_5'] = df_canadiens['power_play'].rolling(5).mean().shift()
df_canadiens['rolling_pk_5'] = df_canadiens['penalty_kill'].rolling(5).mean().shift()
df_canadiens['rolling_shots_5'] = df_canadiens['shots'].rolling(5).mean().shift()
df_canadiens['rolling_sa_5'] = df_canadiens['shots_against'].rolling(5).mean().shift()
df_canadiens['rolling_fow_5'] = df_canadiens['FOWp'].rolling(5).mean().shift()

df_wild = df[df.team == 'Minnesota Wild']
df_wild['rolling_points_5'] = df_wild['points'].rolling(5).mean().shift()
df_wild['rolling_points_10'] = df_wild['points'].rolling(10).mean().shift()
df_wild['rolling_points_20'] = df_wild['points'].rolling(20).mean().shift()
df_wild['rolling_goals_5'] = df_wild['goals'].rolling(5).mean().shift()
df_wild['rolling_goals_10'] = df_wild['goals'].rolling(10).mean().shift()
df_wild['rolling_ga_5'] = df_wild['goals_against'].rolling(5).mean().shift()
df_wild['rolling_ga_10'] = df_wild['goals_against'].rolling(10).mean().shift()
df_wild['rolling_pp_5'] = df_wild['power_play'].rolling(5).mean().shift()
df_wild['rolling_pk_5'] = df_wild['penalty_kill'].rolling(5).mean().shift()
df_wild['rolling_shots_5'] = df_wild['shots'].rolling(5).mean().shift()
df_wild['rolling_sa_5'] = df_wild['shots_against'].rolling(5).mean().shift()
df_wild['rolling_fow_5'] = df_wild['FOWp'].rolling(5).mean().shift()

df_avalanche = df[df.team == 'Colorado Avalanche']
df_avalanche['rolling_points_5'] = df_avalanche['points'].rolling(5).mean().shift()
df_avalanche['rolling_points_10'] = df_avalanche['points'].rolling(10).mean().shift()
df_avalanche['rolling_points_20'] = df_avalanche['points'].rolling(20).mean().shift()
df_avalanche['rolling_goals_5'] = df_avalanche['goals'].rolling(5).mean().shift()
df_avalanche['rolling_goals_10'] = df_avalanche['goals'].rolling(10).mean().shift()
df_avalanche['rolling_ga_5'] = df_avalanche['goals_against'].rolling(5).mean().shift()
df_avalanche['rolling_ga_10'] = df_avalanche['goals_against'].rolling(10).mean().shift()
df_avalanche['rolling_pp_5'] = df_avalanche['power_play'].rolling(5).mean().shift()
df_avalanche['rolling_pk_5'] = df_avalanche['penalty_kill'].rolling(5).mean().shift()
df_avalanche['rolling_shots_5'] = df_avalanche['shots'].rolling(5).mean().shift()
df_avalanche['rolling_sa_5'] = df_avalanche['shots_against'].rolling(5).mean().shift()
df_avalanche['rolling_fow_5'] = df_avalanche['FOWp'].rolling(5).mean().shift()

df_oilers = df[df.team == 'Edmonton Oilers']
df_oilers['rolling_points_5'] = df_oilers['points'].rolling(5).mean().shift()
df_oilers['rolling_points_10'] = df_oilers['points'].rolling(10).mean().shift()
df_oilers['rolling_points_20'] = df_oilers['points'].rolling(20).mean().shift()
df_oilers['rolling_goals_5'] = df_oilers['goals'].rolling(5).mean().shift()
df_oilers['rolling_goals_10'] = df_oilers['goals'].rolling(10).mean().shift()
df_oilers['rolling_ga_5'] = df_oilers['goals_against'].rolling(5).mean().shift()
df_oilers['rolling_ga_10'] = df_oilers['goals_against'].rolling(10).mean().shift()
df_oilers['rolling_pp_5'] = df_oilers['power_play'].rolling(5).mean().shift()
df_oilers['rolling_pk_5'] = df_oilers['penalty_kill'].rolling(5).mean().shift()
df_oilers['rolling_shots_5'] = df_oilers['shots'].rolling(5).mean().shift()
df_oilers['rolling_sa_5'] = df_oilers['shots_against'].rolling(5).mean().shift()
df_oilers['rolling_fow_5'] = df_oilers['FOWp'].rolling(5).mean().shift()

df_blackhawks = df[df.team == 'Chicago Blackhawks']
df_blackhawks['rolling_points_5'] = df_blackhawks['points'].rolling(5).mean().shift()
df_blackhawks['rolling_points_10'] = df_blackhawks['points'].rolling(10).mean().shift()
df_blackhawks['rolling_points_20'] = df_blackhawks['points'].rolling(20).mean().shift()
df_blackhawks['rolling_goals_5'] = df_blackhawks['goals'].rolling(5).mean().shift()
df_blackhawks['rolling_goals_10'] = df_blackhawks['goals'].rolling(10).mean().shift()
df_blackhawks['rolling_ga_5'] = df_blackhawks['goals_against'].rolling(5).mean().shift()
df_blackhawks['rolling_ga_10'] = df_blackhawks['goals_against'].rolling(10).mean().shift()
df_blackhawks['rolling_pp_5'] = df_blackhawks['power_play'].rolling(5).mean().shift()
df_blackhawks['rolling_pk_5'] = df_blackhawks['penalty_kill'].rolling(5).mean().shift()
df_blackhawks['rolling_shots_5'] = df_blackhawks['shots'].rolling(5).mean().shift()
df_blackhawks['rolling_sa_5'] = df_blackhawks['shots_against'].rolling(5).mean().shift()
df_blackhawks['rolling_fow_5'] = df_blackhawks['FOWp'].rolling(5).mean().shift()

df_flames = df[df.team == 'Calgary Flames']
df_flames['rolling_points_5'] = df_flames['points'].rolling(5).mean().shift()
df_flames['rolling_points_10'] = df_flames['points'].rolling(10).mean().shift()
df_flames['rolling_points_20'] = df_flames['points'].rolling(20).mean().shift()
df_flames['rolling_goals_5'] = df_flames['goals'].rolling(5).mean().shift()
df_flames['rolling_goals_10'] = df_flames['goals'].rolling(10).mean().shift()
df_flames['rolling_ga_5'] = df_flames['goals_against'].rolling(5).mean().shift()
df_flames['rolling_ga_10'] = df_flames['goals_against'].rolling(10).mean().shift()
df_flames['rolling_pp_5'] = df_flames['power_play'].rolling(5).mean().shift()
df_flames['rolling_pk_5'] = df_flames['penalty_kill'].rolling(5).mean().shift()
df_flames['rolling_shots_5'] = df_flames['shots'].rolling(5).mean().shift()
df_flames['rolling_sa_5'] = df_flames['shots_against'].rolling(5).mean().shift()
df_flames['rolling_fow_5'] = df_flames['FOWp'].rolling(5).mean().shift()

df_hurricanes = df[df.team == 'Carolina Hurricanes']
df_hurricanes['rolling_points_5'] = df_hurricanes['points'].rolling(5).mean().shift()
df_hurricanes['rolling_points_10'] = df_hurricanes['points'].rolling(10).mean().shift()
df_hurricanes['rolling_points_20'] = df_hurricanes['points'].rolling(20).mean().shift()
df_hurricanes['rolling_goals_5'] = df_hurricanes['goals'].rolling(5).mean().shift()
df_hurricanes['rolling_goals_10'] = df_hurricanes['goals'].rolling(10).mean().shift()
df_hurricanes['rolling_ga_5'] = df_hurricanes['goals_against'].rolling(5).mean().shift()
df_hurricanes['rolling_ga_10'] = df_hurricanes['goals_against'].rolling(10).mean().shift()
df_hurricanes['rolling_pp_5'] = df_hurricanes['power_play'].rolling(5).mean().shift()
df_hurricanes['rolling_pk_5'] = df_hurricanes['penalty_kill'].rolling(5).mean().shift()
df_hurricanes['rolling_shots_5'] = df_hurricanes['shots'].rolling(5).mean().shift()
df_hurricanes['rolling_sa_5'] = df_hurricanes['shots_against'].rolling(5).mean().shift()
df_hurricanes['rolling_fow_5'] = df_hurricanes['FOWp'].rolling(5).mean().shift()

df_stars = df[df.team == 'Dallas Stars']
df_stars['rolling_points_5'] = df_stars['points'].rolling(5).mean().shift()
df_stars['rolling_points_10'] = df_stars['points'].rolling(10).mean().shift()
df_stars['rolling_points_20'] = df_stars['points'].rolling(20).mean().shift()
df_stars['rolling_goals_5'] = df_stars['goals'].rolling(5).mean().shift()
df_stars['rolling_goals_10'] = df_stars['goals'].rolling(10).mean().shift()
df_stars['rolling_ga_5'] = df_stars['goals_against'].rolling(5).mean().shift()
df_stars['rolling_ga_10'] = df_stars['goals_against'].rolling(10).mean().shift()
df_stars['rolling_pp_5'] = df_stars['power_play'].rolling(5).mean().shift()
df_stars['rolling_pk_5'] = df_stars['penalty_kill'].rolling(5).mean().shift()
df_stars['rolling_shots_5'] = df_stars['shots'].rolling(5).mean().shift()
df_stars['rolling_sa_5'] = df_stars['shots_against'].rolling(5).mean().shift()
df_stars['rolling_fow_5'] = df_stars['FOWp'].rolling(5).mean().shift()

merged_df_test = merged_df.copy()
df_devils.head(10)

<ipython-input-38-8106b68d93c4>:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_devils['rolling_points_5'] = df_devils['points'].rolling(5).mean().shift()
<ipython-input-38-8106b68d93c4>:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_devils['rolling_points_10'] = df_devils['points'].rolling(10).mean().shift()
<ipython-input-38-8106b68d93c4>:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_devils['rolling_points_20'] = df_devils['points'].rolling(20).mean().shift()
<ipython-input-38-8106b68d93c4>:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_devils['rolling_goals_5'] = df_devils['goals'].rolling(5).mean().shift()
<ipython-input-38-8106b68d93c4>:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_devils['rolling_goals_10'] = df_devils['goals'].rolling(10).mean().shift()
<ipython-input-38-8106b68d93c4>:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_devils['rolling_ga_5'] = df_devils['goals_against'].rolling(5).mean().shift()
<ipython-input-38-8106b68d93c4>:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_devils['rolling_ga_10'] = df_devils['goals_against'].rolling(10).mean().shift()

DataError: No numeric types to aggregate

I have not figured out a way to get all of the stats into one clean dataframe. I will figure out how to do that in time, I suppose.

In [37]:
merged_df_test = pd.merge(merged_df, df_devils[['team', 'date', 'rolling_points']], how='left', left_on=['date', 'team_x'], right_on=['date', 'team'])
merged_df_test[(merged_df_test.team_x == 'New Jersey Devils')  | (merged_df_test.team_y == 'New Jersey Devils')].head(7)

,team_x,date,points_x,goals_x,goals_against_x,power_play_x,penalty_kill_x,shots_x,shots_against_x,FOWp_x,...,points_y,goals_y,goals_against_y,power_play_y,penalty_kill_y,shots_y,shots_against_y,FOWp_y,team,rolling_points
0,New Jersey Devils,2005-10-05,2,5,1,25.0,90.9,37.0,37.0,57.1,...,0,1,5,9.1,75.0,37.0,37.0,42.9,New Jersey Devils,NaN
18,Philadelphia Flyers,2005-10-07,2,5,2,0.0,77.8,33.0,28.0,51.4,...,0,2,5,22.2,100.0,28.0,33.0,48.6,NaN,NaN
25,New Jersey Devils,2005-10-08,2,3,2,20.0,87.5,27.0,35.0,43.1,...,1,2,3,12.5,80.0,35.0,27.0,56.9,New Jersey Devils,NaN
58,New York Rangers,2005-10-13,2,4,1,12.5,100.0,23.0,21.0,50.0,...,0,1,4,0.0,87.5,21.0,23.0,50.0,NaN,NaN
71,New Jersey Devils,2005-10-15,0,1,6,0.0,50.0,28.0,25.0,43.1,...,2,6,1,50.0,100.0,25.0,28.0,56.9,New Jersey Devils,NaN
89,New Jersey Devils,2005-10-18,2,4,3,42.9,100.0,34.0,24.0,60.9,...,0,3,4,0.0,57.1,24.0,34.0,39.1,New Jersey Devils,0.8
98,Pittsburgh Penguins,2005-10-20,0,3,6,20.0,66.7,33.0,36.0,49.2,...,2,6,3,33.3,80.0,36.0,33.0,50.8,NaN,NaN