In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_excel('2010-2021-Summary.xlsx')
df.head()

,Team,Game Date,GP,W,L,T,OT,P,P%,RW,...,GA,GF/GP,GA/GP,PP%,PK%,Net PP%,Net PK%,Shots/GP,SA/GP,FOW%
0,New Jersey Devils,2013-12-21,1,1,0,--,0,2,1,0,...,4,5,4,100,100.0,100,100.0,37,22,38.3
1,New Jersey Devils,2010-11-27,1,1,0,--,0,2,1,0,...,1,1,1,0,50.0,0,50.0,25,41,46.4
2,New Jersey Devils,2016-03-17,1,1,0,--,0,2,1,1,...,4,7,4,0,33.3,0,33.3,25,32,41.5
3,New Jersey Devils,2020-02-20,1,1,0,--,0,2,1,1,...,1,2,1,16.7,100.0,16.7,100.0,25,37,52.8
4,New Jersey Devils,2015-01-19,1,1,0,--,0,2,1,1,...,2,5,2,33.3,100.0,33.3,125.0,34,36,53.0

In [3]:
df.shape

(50, 23)