In [1]:
from bs4 import BeautifulSoup as bs
from selenium import webdriver #for dynamically loaded page elements that requests won't read in
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
service = Service('C:/Users/cbarg/Downloads/chromedriver_win32/chromedriver.exe') #if anyone ever dares use this you need to replace this with the path to your own chromedriver or what have you
import time
import re
import pandas as pd

In [2]:
options = Options()
options.add_argument('disable-infobars')
options.add_argument('--incognito')
options.add_argument("start-maximized")

In [6]:
driver = webdriver.Chrome(service=service, options=options)
URL = 'https://www.nhl.com/stats/teams?aggregate=0&reportType=game&seasonFrom=20052006&seasonTo=20202021&dateFromSeason&gameType=2&filter=gamesPlayed,gte,1&sort=a_gameDate&page=0&pageSize=100'
team = []
date = []
points = []
RW = []
ROW = []
SOW = []
goals = []
goals_against = []
power_play = []
penalty_kill = []
net_ppp = []
net_pkp = []
shots = []
shots_a = []
FOWp = []

for i in range(0, 100):
    driver.get(URL)
    time.sleep(10)
    html = driver.page_source
    soup = bs(html, features='html.parser')
    rows = soup.find_all('div', class_='rt-tr-group')

    for row in rows:
        all_data = row.find_all('div', class_='rt-td')

        team.append(all_data[1].text.strip())
        date.append(all_data[2].text.strip())
        points.append(all_data[8].text.strip())
        RW.append(all_data[10].text.strip())
        ROW.append(all_data[11].text.strip())
        SOW.append(all_data[12].text.strip())
        goals.append(all_data[13].text.strip())
        goals_against.append(all_data[14].text.strip())
        power_play.append(all_data[17].text.strip())
        penalty_kill.append(all_data[18].text.strip())
        net_ppp.append(all_data[19].text.strip())
        net_pkp.append(all_data[20].text.strip())
        shots.append(all_data[21].text.strip())
        shots_a.append(all_data[22].text.strip())
        FOWp.append(all_data[23].text.strip())
    URL = re.sub(f'&page={i}', f'&page={i+1}', URL)

driver.quit()
df = pd.DataFrame(zip(team, date, points, RW, ROW, SOW, goals, goals_against, power_play, penalty_kill, net_ppp, net_pkp, shots, shots_a, FOWp),
    columns = ['team', 'date', 'points', 'RW', 'ROW', 'SOW', 'goals', 'goals_against', 'power_play', 'penalty_kill', 'net_ppp', 'net_pkp', 'shots', 'shots_against', 'FOWp'])

In [7]:
df.tail()

,team,date,points,RW,ROW,SOW,goals,goals_against,power_play,penalty_kill,net_ppp,net_pkp,shots,shots_against,FOWp
9995,Edmonton Oilers,2009/10/14@ CHI,0,0,0,0,3,4,33.3,50.0,33.3,50.0,19.0,38.0,51.0
9996,Anaheim Ducks,2009/10/14vs MIN,2,1,1,0,3,2,0.0,100.0,0.0,100.0,35.0,34.0,54.9
9997,Dallas Stars,2009/10/14vs NSH,2,1,1,0,6,0,50.0,100.0,50.0,100.0,26.0,29.0,53.3
9998,Los Angeles Kings,2009/10/14@ NYR,0,0,0,0,2,4,14.3,33.3,14.3,33.3,36.0,21.0,54.0
9999,Minnesota Wild,2009/10/14@ ANA,0,0,0,0,2,3,0.0,100.0,0.0,100.0,34.0,35.0,45.1

In [8]:
URL = 'https://www.nhl.com/stats/teams?aggregate=0&reportType=game&dateFrom=2009-10-14&dateTo=2021-05-15&gameType=2&filter=gamesPlayed,gte,1&sort=a_gameDate&page=0&pageSize=100'
driver = webdriver.Chrome(service=service, options=options)
team = []
date = []
points = []
RW = []
ROW = []
SOW = []
goals = []
goals_against = []
power_play = []
penalty_kill = []
net_ppp = []
net_pkp = []
shots = []
shots_a = []
FOWp = []

for i in range(0, 100):

    try:
        driver.get(URL)
        time.sleep(10)
        html = driver.page_source
        soup = bs(html, features='html.parser')
        rows = soup.find_all('div', class_='rt-tr-group')

        for row in rows:
            all_data = row.find_all('div', class_='rt-td')

            team.append(all_data[1].text.strip())
            date.append(all_data[2].text.strip())
            points.append(all_data[8].text.strip())
            RW.append(all_data[10].text.strip())
            ROW.append(all_data[11].text.strip())
            SOW.append(all_data[12].text.strip())
            goals.append(all_data[13].text.strip())
            goals_against.append(all_data[14].text.strip())
            power_play.append(all_data[17].text.strip())
            penalty_kill.append(all_data[18].text.strip())
            net_ppp.append(all_data[19].text.strip())
            net_pkp.append(all_data[20].text.strip())
            shots.append(all_data[21].text.strip())
            shots_a.append(all_data[22].text.strip())
            FOWp.append(all_data[23].text.strip())
        URL = re.sub(f'&page={i}', f'&page={i+1}', URL)
    except:
        break

driver.quit()
df2 = pd.DataFrame(zip(team, date, points, RW, ROW, SOW, goals, goals_against, power_play, penalty_kill, net_ppp, net_pkp, shots, shots_a, FOWp),
    columns = ['team', 'date', 'points', 'RW', 'ROW', 'SOW', 'goals', 'goals_against', 'power_play', 'penalty_kill', 'net_ppp', 'net_pkp', 'shots', 'shots_against', 'FOWp'])

In [9]:
df2.tail()

,team,date,points,RW,ROW,SOW,goals,goals_against,power_play,penalty_kill,net_ppp,net_pkp,shots,shots_against,FOWp
8295,Tampa Bay Lightning,2013/04/02vs FLA,1,0,0,0,2,2,0.0,33.3,0.0,33.3,41.0,25.0,49.2
8296,Washington Capitals,2013/04/02@ CAR,2,1,1,0,5,3,33.3,50.0,33.3,75.0,19.0,34.0,48.5
8297,Nashville Predators,2013/04/02vs COL,2,1,1,0,3,1,33.3,100.0,33.3,100.0,38.0,26.0,58.3
8298,Colorado Avalanche,2013/04/02@ NSH,0,0,0,0,1,3,0.0,66.7,0.0,66.7,26.0,38.0,41.7
8299,Los Angeles Kings,2013/04/02@ PHX,0,0,0,0,1,3,0.0,100.0,0.0,100.0,40.0,31.0,41.4

In [10]:
URL = 'https://www.nhl.com/stats/teams?aggregate=0&reportType=game&dateFrom=2013-04-02&dateTo=2021-05-15&gameType=2&filter=gamesPlayed,gte,1&sort=a_gameDate&page=0&pageSize=100'
driver = webdriver.Chrome(service=service, options=options)
team = []
date = []
points = []
RW = []
ROW = []
SOW = []
goals = []
goals_against = []
power_play = []
penalty_kill = []
net_ppp = []
net_pkp = []
shots = []
shots_a = []
FOWp = []

for i in range(0, 100):

    try:
        driver.get(URL)
        time.sleep(5)
        html = driver.page_source
        soup = bs(html, features='html.parser')
        rows = soup.find_all('div', class_='rt-tr-group')

        for row in rows:
            all_data = row.find_all('div', class_='rt-td')

            team.append(all_data[1].text.strip())
            date.append(all_data[2].text.strip())
            points.append(all_data[8].text.strip())
            RW.append(all_data[10].text.strip())
            ROW.append(all_data[11].text.strip())
            SOW.append(all_data[12].text.strip())
            goals.append(all_data[13].text.strip())
            goals_against.append(all_data[14].text.strip())
            power_play.append(all_data[17].text.strip())
            penalty_kill.append(all_data[18].text.strip())
            net_ppp.append(all_data[19].text.strip())
            net_pkp.append(all_data[20].text.strip())
            shots.append(all_data[21].text.strip())
            shots_a.append(all_data[22].text.strip())
            FOWp.append(all_data[23].text.strip())
        URL = re.sub(f'&page={i}', f'&page={i+1}', URL)
    except:
        break

driver.quit()
df3 = pd.DataFrame(zip(team, date, points, RW, ROW, SOW, goals, goals_against, power_play, penalty_kill, net_ppp, net_pkp, shots, shots_a, FOWp),
    columns = ['team', 'date', 'points', 'RW', 'ROW', 'SOW', 'goals', 'goals_against', 'power_play', 'penalty_kill', 'net_ppp', 'net_pkp', 'shots', 'shots_against', 'FOWp'])
df3.tail()

,team,date,points,RW,ROW,SOW,goals,goals_against,power_play,penalty_kill,net_ppp,net_pkp,shots,shots_against,FOWp
9995,Vancouver Canucks,2017/03/26@ WPG,0,0,0,0,1,2,0.0,0.0,0.0,0.0,29.0,32.0,45.2
9996,Anaheim Ducks,2017/03/26vs NYR,2,1,1,0,6,3,33.3,100.0,33.3,150.0,34.0,28.0,53.0
9997,Dallas Stars,2017/03/26@ NJD,2,0,1,0,2,1,50.0,--,50.0,--,32.0,21.0,50.9
9998,Minnesota Wild,2017/03/26@ DET,1,0,0,0,2,3,0.0,50.0,0.0,50.0,26.0,19.0,56.4
9999,Winnipeg Jets,2017/03/26vs VAN,2,1,1,0,2,1,100.0,100.0,100.0,100.0,32.0,29.0,54.8

In [12]:
URL = 'https://www.nhl.com/stats/teams?aggregate=0&reportType=game&dateFrom=2017-03-26&dateTo=2021-05-15&gameType=2&filter=gamesPlayed,gte,1&sort=a_gameDate&page=0&pageSize=100'
driver = webdriver.Chrome(service=service, options=options)
team = []
date = []
points = []
RW = []
ROW = []
SOW = []
goals = []
goals_against = []
power_play = []
penalty_kill = []
net_ppp = []
net_pkp = []
shots = []
shots_a = []
FOWp = []

for i in range(0, 93):

    try:
        driver.get(URL)
        time.sleep(5)
        html = driver.page_source
        soup = bs(html, features='html.parser')
        rows = soup.find_all('div', class_='rt-tr-group')

        for row in rows:
            all_data = row.find_all('div', class_='rt-td')

            team.append(all_data[1].text.strip())
            date.append(all_data[2].text.strip())
            points.append(all_data[8].text.strip())
            RW.append(all_data[10].text.strip())
            ROW.append(all_data[11].text.strip())
            SOW.append(all_data[12].text.strip())
            goals.append(all_data[13].text.strip())
            goals_against.append(all_data[14].text.strip())
            power_play.append(all_data[17].text.strip())
            penalty_kill.append(all_data[18].text.strip())
            net_ppp.append(all_data[19].text.strip())
            net_pkp.append(all_data[20].text.strip())
            shots.append(all_data[21].text.strip())
            shots_a.append(all_data[22].text.strip())
            FOWp.append(all_data[23].text.strip())
        URL = re.sub(f'&page={i}', f'&page={i+1}', URL)
    except:
        break

driver.quit()
df4 = pd.DataFrame(zip(team, date, points, RW, ROW, SOW, goals, goals_against, power_play, penalty_kill, net_ppp, net_pkp, shots, shots_a, FOWp),
    columns = ['team', 'date', 'points', 'RW', 'ROW', 'SOW', 'goals', 'goals_against', 'power_play', 'penalty_kill', 'net_ppp', 'net_pkp', 'shots', 'shots_against', 'FOWp'])
df4.tail()

,team,date,points,RW,ROW,SOW,goals,goals_against,power_play,penalty_kill,net_ppp,net_pkp,shots,shots_against,FOWp
9295,,,,,,,,,,,,,,,
9296,,,,,,,,,,,,,,,
9297,,,,,,,,,,,,,,,
9298,,,,,,,,,,,,,,,
9299,,,,,,,,,,,,,,,

In [33]:
n=90
df_dropped_last_n = df4.iloc[:-n]
#df4.drop(df.tail(90), inplace=True)
df4=df_dropped_last_n
df4.tail()
#df4.tail(94)

,team,date,points,RW,ROW,SOW,goals,goals_against,power_play,penalty_kill,net_ppp,net_pkp,shots,shots_against,FOWp
9205,Minnesota Wild,2021/05/13@ STL,0,0,0,0,3,7,0.0,25.0,0.0,25.0,20.0,27.0,49.0
9206,Toronto Maple Leafs,2021/05/14@ WPG,0,0,0,0,2,4,0.0,100.0,0.0,100.0,36.0,24.0,52.2
9207,Winnipeg Jets,2021/05/14vs TOR,2,1,1,0,4,2,0.0,100.0,0.0,100.0,24.0,36.0,47.8
9208,Edmonton Oilers,2021/05/15vs VAN,0,0,0,0,1,4,0.0,100.0,-33.3,100.0,32.0,41.0,55.1
9209,Vancouver Canucks,2021/05/15@ EDM,2,1,1,0,4,1,0.0,100.0,0.0,133.3,41.0,32.0,44.9

In [34]:
URL = 'https://www.nhl.com/stats/teams?aggregate=0&reportType=game&seasonFrom=20212022&seasonTo=20212022&dateFromSeason&gameType=2&filter=gamesPlayed,gte,1&sort=a_gameDate&page=0&pageSize=100'
driver = webdriver.Chrome(service=service, options=options)
team = []
date = []
points = []
RW = []
ROW = []
SOW = []
goals = []
goals_against = []
power_play = []
penalty_kill = []
net_ppp = []
net_pkp = []
shots = []
shots_a = []
FOWp = []

for i in range(0, 27):

    try:
        driver.get(URL)
        time.sleep(5)
        html = driver.page_source
        soup = bs(html, features='html.parser')
        rows = soup.find_all('div', class_='rt-tr-group')

        for row in rows:
            all_data = row.find_all('div', class_='rt-td')

            team.append(all_data[1].text.strip())
            date.append(all_data[2].text.strip())
            points.append(all_data[8].text.strip())
            RW.append(all_data[10].text.strip())
            ROW.append(all_data[11].text.strip())
            SOW.append(all_data[12].text.strip())
            goals.append(all_data[13].text.strip())
            goals_against.append(all_data[14].text.strip())
            power_play.append(all_data[17].text.strip())
            penalty_kill.append(all_data[18].text.strip())
            net_ppp.append(all_data[19].text.strip())
            net_pkp.append(all_data[20].text.strip())
            shots.append(all_data[21].text.strip())
            shots_a.append(all_data[22].text.strip())
            FOWp.append(all_data[23].text.strip())
        URL = re.sub(f'&page={i}', f'&page={i+1}', URL)
    except:
        break

driver.quit()
df5 = pd.DataFrame(zip(team, date, points, RW, ROW, SOW, goals, goals_against, power_play, penalty_kill, net_ppp, net_pkp, shots, shots_a, FOWp),
    columns = ['team', 'date', 'points', 'RW', 'ROW', 'SOW', 'goals', 'goals_against', 'power_play', 'penalty_kill', 'net_ppp', 'net_pkp', 'shots', 'shots_against', 'FOWp'])
df5.tail()

,team,date,points,RW,ROW,SOW,goals,goals_against,power_play,penalty_kill,net_ppp,net_pkp,shots,shots_against,FOWp
2695,,,,,,,,,,,,,,,
2696,,,,,,,,,,,,,,,
2697,,,,,,,,,,,,,,,
2698,,,,,,,,,,,,,,,
2699,,,,,,,,,,,,,,,

In [39]:
n=76
df_dropped_last_n = df5.iloc[:-n]
df5 = df_dropped_last_n
#df4.drop(df.tail(90), inplace=True)
#df5=df_dropped_last_n
df5.tail()
#df4.tail(94)

,team,date,points,RW,ROW,SOW,goals,goals_against,power_play,penalty_kill,net_ppp,net_pkp,shots,shots_against,FOWp
2619,Arizona Coyotes,2022/04/29vs NSH,2,1,1,0,5,4,0.0,100.0,0.0,100.0,27.0,33.0,50.8
2620,Vegas Golden Knights,2022/04/29@ STL,2,1,1,0,7,4,50.0,33.3,50.0,33.3,45.0,18.0,53.7
2621,Seattle Kraken,2022/04/29vs SJS,2,1,1,0,3,0,0.0,100.0,0.0,100.0,31.0,24.0,58.3
2622,Winnipeg Jets,2022/05/01vs SEA,2,1,1,0,4,3,0.0,0.0,0.0,0.0,27.0,30.0,59.1
2623,Seattle Kraken,2022/05/01@ WPG,0,0,0,0,3,4,100.0,100.0,100.0,100.0,30.0,27.0,40.9

In [40]:
final_df = pd.concat([df, df2, df3, df4, df5]).reset_index()
final_df.head()

,index,team,date,points,RW,ROW,SOW,goals,goals_against,power_play,penalty_kill,net_ppp,net_pkp,shots,shots_against,FOWp
0,0,New Jersey Devils,2005/10/05vs PIT,2,1,1,0,5,1,25.0,90.9,25.0,90.9,37.0,37.0,57.1
1,1,New York Islanders,2005/10/05@ BUF,0,0,0,0,4,6,14.3,81.8,14.3,81.8,26.0,39.0,51.5
2,2,New York Rangers,2005/10/05@ PHI,2,1,1,0,5,3,50.0,90.0,50.0,90.0,27.0,27.0,51.6
3,3,Philadelphia Flyers,2005/10/05vs NYR,0,0,0,0,3,5,10.0,50.0,10.0,50.0,27.0,27.0,48.4
4,4,Pittsburgh Penguins,2005/10/05@ NJD,0,0,0,0,1,5,9.1,75.0,9.1,75.0,37.0,37.0,42.9

In [41]:
final_df.shape

(40134, 16)

In [42]:
final_df.drop(['index'], axis=1, inplace=True)
final_df.head()
final_df.to_csv('nhl_stats.csv')